<!DOCTYPE html>
<html>
<head>
  <title>Live with chat</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <style>
  body {font-family: Arial, Helvetica, sans-serif;}
  form {border: 3px solid #f1f1f1;}

  input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  #submit {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  #submit:hover {
    opacity: 0.8;
  }

  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }

  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
  }

  img.avatar {
    width: 40%;
    border-radius: 50%;
  }

  .container {
    padding: 16px;
  }

  span.psw {
    float: right;
    padding-top: 16px;
  }

  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
     display: block;
     float: none;
   }
   .cancelbtn {
     width: 100%;
   }
 }
 table, th, td {
  border: 1px solid black;
  text-align: center;
}
</style>


<script src="/socket.io/socket.io.js"></script>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body style="width: 80%;background-color:#F0F8FF; margin-left: 10%; height: 2000px">
  <div>
      <img id="streaming" style="margin-top: 100px;margin-left: 100px ;float:left; ">
    


  <div>
    <div id="list" style=" position: absolute; margin-left: -100px;margin-top: 50px;display: none">
      
          <div id="table"></div>

    
    </div>
    <div id="user">
      <div id="nameuser" style="display: none;float: right;margin-right: 50px">Xin chào: <a id="ten"></a> ! <a id="logout" href="#">logout</a><div><button id="createroom">tạo room chat</button></div></div>

    </div>
    <div id="formdk" style="width: 40%;text-align: center; margin-top: 250px;margin-left: 30%; display:block";>
      <div class="container">
        <label for="uname"><b>Username</b></label>
        <input id="uname" type="text" placeholder="Enter Username" name="uname" required>
        <button id="submit">đăng ký</button>
      </div>
    </div>
 <!-- video -->


 <div id="chatroom" style="position: absolute;height: 600px;width: 300px;background-color: red;
    margin-top: 100px;
    margin-left:900px;display: none;">
      <div class="pages" style="height: 500px" >
        <ul class="messages">
        </ul>
      </div>
      <div>
      <input id="inputchat" type="text"  style="margin-top: 40px;width: 250px"placeholder="Type here..."/>
      <button id="btnchat">Gửi</button>
     </div>
    </div>
    
  
    <div>
      
    <video id="video" style="width: 700px" autoplay="true"></video>
  <canvas id="canvas" width="1280" height="720"></canvas>
     
    </div>




    <script src="/js/myjs.js"></script>
  </div>
</body>
</html>